*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all{
   background: black;
}


.h{
    background-image: url(f-1.jpg);
    background-repeat:no-repeat;
    background-size:100% 100vh;
    width: 100%;
}
.h h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(255, 254, 254);
    font-size: 80px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.h h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(255, 254, 254);
    font-size: 80px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.h h3{
    color:rgb(255, 254, 254);
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.h p{
    color:rgb(255, 255, 255);
    font-size: 26px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.e{
    font-size: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black; 
}


.g{
    background-image: url(f-2.jpg);
    background-repeat:no-repeat;
    background-size:100% 100vh;
    width: 100%;
    height: 500px;
    padding: 40px;
}

.l p{
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    margin: 50px;
}

.l{
    display: flex;
    justify-content: center;
    align-items: center;
}

.v p{
    color:#FF7F7F;
    font-size: 38px;
    margin: 33px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.v {
    background: black; 
} 

@media (min-width:300px){
    .h h3{
        font-size:30px
    }

    .h p{
        font-size: 16px;
    }
    .h h2{
        font-size: 40px;
    }
    .e{
        font-size: 60px;
    }
    .l p{
        font-size: 23px;
        margin: 25px;
    }
    .v p{
        font-size: 30px;
        margin: 20px;
    }

}

@media (min-width:400px){

    .h h3{
        font-size:35px
    }

    .h p{
        font-size: 17px;
    }
    .h h2{
        font-size: 45px;
    }
    .e{
        font-size: 90px;
    }
    .l p{
        font-size: 40px;
        margin: 20px;
    }
    .v p{
        font-size: 36px;
        margin: 30px;
        margin-left: 50px;
    }

}

/* small screen*/

@media (min-width:600px){
    .h h3{
        font-size:45px
    }

    .h p{
        font-size: 18px;
    }
    .h h2{
        font-size: 70px;
        padding-bottom: 50px;
    }
    .e{
        font-size: 130px;
    }
    .l p{
        font-size: 40px;
        margin: 35px;
    }
    .v p{
        font-size: 45px;
        margin: 30px;
        margin-left: 120px;
    }
}

@media (min-width:800px){
    .h h3{
        font-size:50px
    }

    .h p{
        font-size: 25px;
    }
    .h h2{
        font-size: 80px;
        padding-bottom: 50px;
    }
    .e{
        font-size: 170px;
    }
    .l p{
        font-size: 70px;
        margin: 35px;
    }
    .v p{
        font-size: 76px;
        margin: 30px;
        margin-left: 140px;
    }
}




